body {
  color: white;
  font-size: 30px;
}

.row:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
        }
.row {display: inline-block;}
/* close commented backslash hack\*/
* html .row {height: 1%; }
.row {display: block;}
/* close commented backslash hack*/

.header {
  background-color: gray;
  height: 200px;
  margin-bottom: 10px;
}

.content {
  background-color: gray;
  min-height: 500px;
  width: 70%;
  float: left;
}

.sidebar {
  background-color: gray;
  min-height: 500px;
  width: 30%;
  float:left;
}

.header {
  background-color: gray;
  height: 200px;
  margin-top: 10px;
}
