html {
    width: 100%; /* Высота веб-страницы */
    background: #000 url(images/gif1.gif)
          no-repeat right bottom; /* Путь к графическому файлу с фоном */
    color: #fff; /* Белый цвет текста */
}
